swagger: "2.0"
info:
  description: This is the swagger file that goes with our server code
  version: "1.0.0"
  title: Swagger REST Article
consumes:
  - "application/json"
produces:
  - "application/json"

basePath: "/api"

# Paths supported by the server application
paths:
  /connect/{ip}/{user}/{pw}:
    get:
      operationId: connect_robot.check_ip_connection
      tags:
        - connect
      summary: Check if IP address is accessible
      description: Check if IP address
      parameters:
        - name: ip
          in: path
          description: IP address given by user
          type: string
          required: True
        - name: user
          in: path
          description: IP address given by user
          type: string
          required: True
        - name: pw
          in: path
          description: IP address given by user
          type: string
          required: True
      responses:
        200:
          description: Successfully read all entries

  /csvdata/{robot_id}:
    get:
      operationId: csvdata.list_all_csv
      tags:
        - csvdata
      summary: Get a list of all available csv data for robot
      description: List of available csv data
      parameters:
        - name: robot_id
          in: path
          description: Robot name of the code to get from the list
          type: integer
          required: True
      responses:
        200:
          description: Successfully read all entries

  /csvdata/{filename}:
    get:
      operationId: csvdata.get_file
      tags:
        - csvdata
      summary: Get one csv file from data
      description: Get csv file
      parameters:
        - name: filename
          in: path
          description: name of csv file
          type: string
          required: True
      responses:
        200:
          description: Successfully read all entries

  /csvvisualization/{filename}:
    get:
      operationId: csvdata.get_plot
      tags:
        - csvdata
      summary: Get plot for a csv file
      description: Get plot for a csv file
      parameters:
        - name: filename
          in: path
          description: name of csv file
          type: string
          required: True
      responses:
        200:
          description: Successfully read all entries

  /robotcode:
    get:
      operationId: robotcode.read
      tags:
        - robotcode
      summary: The python script data structure for server
      description: Read all entries in db
      responses:
        200:
          description: Successfully read all entries

    post:
      operationId: robotcode.create
      tags:
        - robotcode
      summary: Create a robot and add it to the robot list
      description: Create a new robot in the robot list
      parameters:
        - name: robotcode
          in: body
          description: Robot code to create
          required: True
          schema:
            type: object
            properties:
              robot:
                type: string
                description: Robot id/name
              code:
                type: string
                description: code to execute on robot
      responses:
        201:
          description: Successfully created robot in list


  /robotcode/{robot_id}:
    get:
      operationId: robotcode.read_one
      tags:
        - robotcode
      summary: Read code from the robot list
      description: Read code from the robot list
      parameters:
        - name: robot_id
          in: path
          description: Robot name of the code to get from the list
          type: integer
          required: True
      responses:
        200:
          description: Successfully read code from robot list operation
          schema:
            properties:
              robot:
                type: string
              code:
                type: string

    put:
      operationId: robotcode.update
      tags:
        - robotcode
      summary: Update code in the robot list
      description: Update code in the code list
      parameters:
        - name: robot_id
          in: path
          description: robot name of the robot to update in the list
          type: integer
          required: True
        - name: robotcode
          in: body
          schema:
            type: object
            properties:
              robot:
                type: string
              code:
                type: string
      responses:
        200:
          description: Successfully updated code in robot list

  /data/{session_id}:
    get:
      operationId: data.read_relevant
      tags:
        - data
      summary: read all data for ml models
      description: Read all entries in db
      parameters:
        - name: session_id
          in: path
          description: Robot name of the code to get from the list
          type: string
          required: True
      responses:
        200:
          description: Successfully read all entries

  /data:
    post:
      operationId: data.create
      tags:
        - data
      summary: create data in db
      description: create data in db
      parameters:
        - name: data
          in: body
          description: data to create
          required: True
          schema:
            type: object
            properties:
              session_id:
                type: string
              data_name:
                type: string
                description: name
              csv:
                type: string
                description: altered csv data
              scale:
                type: string
              shuffle:
                type: boolean
              test:
                type: integer
              train:
                type: integer
              delimiter:
                type: string
              labels:
                type: array
                items:
                  type: integer
      responses:
        201:
          description: Successfully created robot in list

  /runcode/{code}:
    get:
      operationId: train_code.execute_code
      tags:
        - train_code
      summary: execute code from Blockly and get back training results
      description: see summary
      parameters:
        - name: code
          in: path
          description: Code that should be executed
          type: string
          required: True
      responses:
        200:
          description: Successfully executed code

